/* Nice! You found this URL to steal this css. */
.bg-secondary {
    background-color: #fa434e;
}
.h1, h1 {
    color: #fa434e;
}
.text-muted {
    color: #ff7a82;
}
.h6, h6 {
    color: #ffffff;
}
.badge-black {
    background-color: #fa434e;
    color: #ffffff;
    border: 1px solid #ffffff !important;
}
.badge-pill {
    border-radius: .2rem;
}
.btn {
    color: #ffffff !important;
    background-color: #fa434e !important;
    border: 1px solid #ffffff !important;
}
/*
OLD CSS
.navbar { background-color: #fa434e; }

.circle-image-big {
    border: 3px solid #fa434e;
    background: transparent;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

body { background-color: #000000 !important; }

.dark-div { border: solid 2px #fa434e; }

.dark-button {
    background-color: #2c2f33 !important;
    z-index: 10;
    border-radius: 10px !important;
}

.dark-div a { border: solid 1px #fa434e !important; }
*/
/* 
...###..######..###......########..##.....##..######..
..##...##....##...##.....##.....##.##.....##.##....##.
.##....##..........##....##.....##.##.....##.##.......
.##....##..........##....########..#########.##...####
.##....##..........##....##...##...##.....##.##....##.
..##...##....##...##.....##....##..##.....##.##....##.
...###..######..###......##.....##.##.....##..######..
*/
